body {
  font-family: "Inter", "Segoe UI", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  /* background-color: #f9fafb; */
  margin: 0;
  padding: 0;
  color: #111827;
}
#root {
    background: linear-gradient(180deg, #ffffff 0%, #fff0e5 40%, #ffeafa 100%);
    background-attachment: fixed;
  }

input, select, textarea {
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
  margin-bottom: 8px;
  margin-top: 20%;
}

h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #304153;
}

p {
  color: #4b5563;
  line-height: 1.4;
  font-size: 40px;
  margin-bottom: 50px;
}

.home-actions {
  display: flex;
  margin-top: 0px;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.delete-confirmation {
  text-align: center;
  color: #4b5563;
  font-size: 18px;
  font-weight: 500;
}

.section-divider {
  border: none;
  height: 1px;
  background-color: #d1d5db; 
  margin: 12px 0 20px;
}

/* Dashboard header */
.dashboard-header {
  margin-bottom: 8px;
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

.dashboard-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

/* App layout */
.app-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 32px;
}

.card {
  background: white;
  padding: 20px;
  /* margin-bottom: 16px; */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  /* background-color: #f1f5ff; */

  /* border: #028b34 0.5px solid; */
  height: 220px;          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.card-main {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-left {
  flex: 1;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
 
.card-notes {
  margin-top: 8px;
  padding: 10px 12px;

  background-color: #fff2d2;
  border-radius: 10px;

  height: 70px;               /* fixed height */
  display: flex;
  align-items: flex-start;    /* 🔴 NOT center */
  gap: 12px;

  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.notes-content {
  flex: 1;
  min-width: 0;
}

.notes-preview {
  margin: 0;                /* 🔴 REQUIRED */
  font-size: 14px;
  line-height: 1.2;
  color: #374151;
  width: 90%;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.read-more-btn {
  flex-shrink: 0;            /* 🔴 REQUIRED */
  background: none;
  border: none;
  padding-top: 8px;
  padding-left: 0;

  font-size: 12px;
  color: #521f15;
  cursor: pointer;
  white-space: nowrap;
}

.read-more-btn:hover {
  text-decoration: underline;
}

.notes-edit-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  background: #fff2d2;
  border-radius: 50%;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: #6b7280;
}

.notes-edit-btn:hover {
  color: #111827;
}

.add-note-text {
  margin-top: 10px;
  font-size: 16px;
  color: #5e6168;
  font-style: italic;
}

/* Highlighted text */
mark {
  background-color: #fde68a;
  padding: 0 2px;
  border-radius: 3px;
}

/* Filter buttons */
.filter-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-label {
  font-size: 16px;
  color: #6b7280;
}

.filter-select:focus {
  outline: none;
  border-color: #919191;
}

.filter-select {
  height: 36px;
  padding: 0 36px 0 16px;
  border-radius: 999px;
  border: none;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 14px;
  color: #111827;
  cursor: pointer;

  appearance: none;
  background-image: 
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23374151' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

.filter-select:hover {
  background-color: #e5e7eb;
}


/* Status badges */
.status {
  display: inline-block;
  padding: 8px 14px;          /* ⬅ more breathing room */
  border-radius: 999px;       /* ⬅ fully pill-shaped */
  font-size: 15px;            /* ⬅ slightly bigger text */
  font-weight: 500;
  margin-top: 6px;
}

.status.applied {
  background-color: #dde6fe;
  color: #374151;
}

.status.interview {
  background-color: #ffe8ad;
  color: #98572f;
}

.status.rejected {
  background-color: #e3dbdb;
  color: #991b1b;
}

.status.offer {
  background-color: #daffe7;
  color: #166534;
}

/* Back to Home button */
.back-home-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 12px;

  background: none;
  border: none;
  padding: 6px 0;

  font-size: 14px;
  color: #374151;
  cursor: pointer;

  transition: transform 0.5s ease;
}

.back-home-btn:hover {
  color: #111827;
  transform: scale(1.2);
  
}

.back-home-btn svg {
  transition: transform 0.2s ease;
}

.back-home-btn:hover svg {
  transform: translateX(-3px);
}

/* Primary action button (Home page) */
.primary-action {
  margin-top: 30px;
  padding: 20px 30px;
  font-size: 24px;

  border: none;
  border-radius: 99px;

  background-image: linear-gradient(to right, #5c6ff4, #C779D0 50%);
  background-size: 150% auto;

  color: white;
  cursor: pointer;

  font-weight: bold;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  transition:
    box-shadow 0.15s ease,
    background-position 0.15s ease-in-out;
}

/* Application card layout */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
}
.modal h3 {
  margin: 0 0 16px 0;
  font-size: 22px;
}

.role {
  font-size: 16px;
  margin: 6px 0;
}

.date {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 20px;
}

.card:last-child {
  margin-bottom: 0;
}

/* Search input */
/* Pill-style expandable search */
/* Pill-shaped search (static) */
.search-pill {
  display: flex;
  align-items: center;
  position: relative;
  width: 208px;
  height: 36px;
  border-radius: 999px;
  background-color: white;
  border: 1px solid #d1d5db;
  padding-left: 10px;
}

.search-icon {
  width: 16px;
  height: 16px;
  opacity: 0.8;
}

.filter-icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.search-input-pill {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 0px 0 8px;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #111827;
}

.clear-search-btn {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #6b7280;
  line-height: 1;
}

.clear-search-btn:hover {
  color: #111827;
}

.search-pill:hover {
  background-color: #e5e7eb;
}

.search-input-pill::placeholder {
  color: #9ca3af;
}

/* Empty state */
.empty-state {
  margin-top: 24px;
  color: #6b7280;
  font-size: 24px;
  margin-top: 60px;
}

.clear-search {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
  padding: 0;
}

.clear-search:hover {
  color: #111827;
}

/* Top bar (Add + Search) */
.filters-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.1s;
}

/* Add application button */
.add-app-btn {
  display: inline-flex;
  align-items: center;
  gap: 0;

  padding: 8px;
  border-radius: 999px;
  border: none;
  background-color: #028b34;
  color: white;
  cursor: pointer;

  transition: all 0.2s ease;
}

/* text hidden by default */
.add-app-text {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;

  font-size: 14px;
  font-weight: 600;

  transition: max-width 0.25s ease, margin-left 0.25s ease;
}

/* reveal on hover */
.add-app-btn:hover .add-app-text {
  max-width: 140px;     /* enough for full text */
  margin-left: 8px;
}


/* Modal */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


/* Form */
.form-group {
  display: flex;
  flex-direction: column;
  /* line-height: ; */
  gap: 4px;
  margin-bottom: 14px;
}

.form-group label {
  font-size: 13px;
  color: #374151;
}

.form-group input,
.form-group select {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #2f2f2f;
}

/* Modal actions */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.primary-btn {
  padding: 8px 14px;
  border-radius: 999px;
  border: none;
  background-color: #3b9051;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.primary-btn:hover {
  background-color: #2f6f3e;
}
.secondary-btn {
  padding: 10px 14px;
  border-radius: 999px;
  border: none;
  background-color: #e5e7eb;
  color: #3e3e3e;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.secondary-btn:hover {
  background-color: #d3def0;
}

.edit-btn {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 999px;
  border: none;
  background-color: #e8f0ff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.edit-text {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #374151;
  font-weight: 700;

  transition: max-width 0.2s ease, margin-left 0.2s ease;
}

.edit-btn:hover .edit-text {
  max-width: 40px;        /* enough for "Edit" */
  margin-left: 6px;       /* space between icon & text */
}

.delete-btn {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 999px;
  border: none;
  background-color: #fee2e2;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 12px;
}

.delete-text {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #600b0b;
  transition: max-width 0.2s ease, margin-left 0.2s ease;
  font-weight: 600;
}

.delete-btn:hover {
  background-color: #ffcaca;
}

.delete-btn:hover .delete-text {
  max-width: 52px;
  margin-left: 6px;
}
.delete-text-x {color: }

textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  resize: vertical; /* allows vertical resize only */
  line-height: 1.5;
}

textarea:focus {
  outline: none;
  border-color: #2f2f2f;
}

.card-notes {
  margin-top: 0;
  padding-top: 10px;
  border-top: 1px dashed #e5e7eb;
}

.notes-row {
  /* display: flex; */
  gap: 100px;
  align-items: flex-start;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.scroll-top-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background-color: #028b34;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);

  z-index: 1000;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.scroll-top-btn:hover {
  background-color: #167435;
  transform: translateY(-2px);
}

/* HOME INSIGHTS */

.home-insights {
  justify-content: center;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 53% 30%;
  gap: 100px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .home-insights {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .section-title {font-size: 30px;}
}

.date-insights {
  flex: 1;
}

/* STATS */

.section-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #24314e;
}
.empty-soon {
  font-style: oblique;
  font-size: 22px;
}

.upcoming {text-align: right;}
@media (max-width: 768px) {
  .upcoming {text-align: left;}
  .insights-left, .insights-right {
    transform: scale(0.9)
  }
}

.home-container {
  animation: homeEnter 0.6s ease forwards;
}

@keyframes homeEnter {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CARD BASE */
.stat-card {
  opacity: 0;
  display: flex;
  flex-direction: column;   /* ⬅ stack vertically */
  align-items: center;
  justify-content: center;
  gap: 6px;                 /* space between number & label */

  /* background: #f7f7f7; */
  border-radius: 18px;
  padding: 25px;
  text-align: center;

  transition: transform 0.15s ease, 
  box-shadow 0.15s ease, 
  background 0.4s ease, 
  color 0.4s ease;

  animation: cardFade 0.5s ease forwards;
}

.stat-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}

.stat-card.total { background: #d0d0d0; color: #3c3c3c; font-weight: bold;}
.stat-card.applied { background: #dff3ff; color: rgb(30, 30, 117); font-weight: bold;}
.stat-card.interview { background: #ffe6b3; color: rgb(69, 54, 27); font-weight: bold;}
.stat-card.offer { background: #c5ffb2; color: #194026; font-weight: bold;}
.stat-card.rejected { background: #ffd9d9; color:rgb(66, 0, 0); font-weight: bold;} 
.stats-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stat-card.total:hover {background: rgb(102, 102, 102); color: white}
.stat-card.applied:hover {background: #0062ff; color: white}
.stat-card.interview:hover {background: #ffaa00; color: white}
.stat-card.offer:hover {background: #29a400; color: white}
.stat-card.rejected:hover {background: #9b1919; color: white}

/* TOP ROW */
.stats-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.stats-bottom {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

/* TOTAL special */
.stat-card.total {
  flex-direction: row;
}

.stat-card.total .stat-number {
  font-size: 60px;
}
.stat-card.total .stat-label {
  font-size: 30px;
}



/* Others same size */
.stat-number {
  display: block;
  font-size: 40px;
  font-weight: 700;
}

.stat-label {
  display: block;
  font-size: 20px;
  opacity: 0.8;
}


/* SOON DATES */

.soon-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.soon-card {
  background: #ffece6;
  border-left: 8px solid #ff5a5a;
  padding: 14px 16px;
  border-radius: 8px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.09);
  transition: transform 0.5s ease, zoom 1s ease, box-shadow 0.3s ease;

  opacity: 0;
  transform: scale(1); 
  animation: cardFade 0.45s ease forwards;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.soon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.soon-desc {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.soon-meta {
  font-size: 13px;
  /* opacity: 0.7; */
}


.home-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

@media (max-width: 768px) {
  .home-top {
    grid-template-columns: 1fr;
  }
}


.home-topbar {
  background-image: linear-gradient(to right, #5c6ff4 5%, #7988f7 , #c98dd0 60%);
  position: sticky;
  top: 0;

  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between; 
  /* align-items: center; */

  /* width: 90vw; */
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  margin-top: -50px;
  margin-bottom: 100px;
  padding: 12px 24px;
}

.app-name {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  opacity: 0;
  animation: nameFadeIn 0.5s ease forwards;
}



@keyframes nameFadeIn {
  to {opacity: 1;}
}

.theme-toggle {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: not-allowed;
  opacity: 0.6;
}

.rotate {transition: transform 1s;}
.rotate:hover {cursor:pointer; transform: rotateY(360deg);}


.third-action {
  margin-top: 30px;
  padding: 20px 30px;
  font-size: 24px;
  border: none;
  background-image: linear-gradient(to right, #5c6ff4 , #C779D0 50%);
  background-size: 150% auto;
  color: white;
  cursor: pointer;
  
  transition: box-shadow 0.15s ease, background-position 0.15s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  border-radius: 99px;
  border: none;
}

.third-action:hover {
  background-position: right center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* ABOUT PAGE */

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: justify;
}
.about-section  h2 {
  font-size: 25px;
}
.about-hero {
  margin-bottom: 0;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #304153;
}

.about-subtitle {
  font-size: 20px;
  /* color: #4b5563; */
  line-height: 1.6;
  margin-bottom: 30px;
}

.about-section {
  /* margin-bottom: 40px; */
  position: relative;
  padding: 30px;
  /* margin-bottom: 32px; */

  border-radius: 30px;

  transition:
    background-color 0.25s ease,
    transform 0.25s ease;
}

.about-hero {
  padding: 0 30px;
}
.about-section:hover {transform: scale(1.015);}
.sc1:hover {background: rgba(201, 250, 255, 0.5);}
.sc2:hover {background: rgba(193, 255, 200, 0.399);}
.sc3:hover {background: rgba(250, 255, 196, 0.5);}
.sc4:hover {background: rgba(247, 195, 255, 0.5);}
.sc5:hover {background: rgba(255, 201, 201, 0.5);}
.sc6:hover {background: rgba(197, 197, 197, 0.5);}


.about-section p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 12px;
  color: #374151;
}

.about-list {
  padding-left: 20px;
  margin-top: 10px;
}

.about-list li {
  color: #374151;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.6;
}

.about-footer {
  /* border-top: 1px solid #e5e7eb; */
  padding-top: 24px;
  text-align: center;
}

.about-footer p {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  color: #6b7280;
}

.about-footer .signature {
  font-size: 25px;
  font-weight: 600;
  color: #525e77;
}

.feature-list {
  list-style: none;
  padding: 0;
}

.feature-item {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
}

.feature-icon {
  color: #028b34; /* or your primary accent */
  flex-shrink: 0;
  margin-top: 2px;
}

.feature-item p {
  margin: 6px 0 0;
  font-size: 18px;
  line-height: 1.6;
  color: #374151;
}

.tech-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-item {
  display: flex;
  gap: 14px;
  margin-bottom: 22px;
}

.tech-icon {
  flex-shrink: 0;
  margin-top: 4px;
}

.tech-item strong {
  display: block;
  margin-bottom: 4px;
}

.tech-item p {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #374151;
}

.react {color: rgb(25, 165, 251);}
.css {color: rgb(25, 165, 251);}
.js {background: yellow;color: rgb(42, 42, 42);}
.fm {color: red;}
.lcapi {color: green;}


/* MOBILE */
@media (max-width: 768px) {
  .about-title {
    font-size: 28px;
  }

  .about-section p, .about-section li, .about-subtitle{
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 1.5;
  }
  .about-section {
    border-radius: 0;;
  }

  .about-section, .about-hero {
    margin-bottom: 0;
    padding-left: 0; 
    padding-right: 0;
    padding-bottom: 0;
  }

  .sc1:hover {background: transparent;}
  .about-hero {padding-top: 20px;}

  .about-footer p {
    font-size: 18px;
  }

  .about-footer .signature {
    font-size: 16px;
  }

  #root {
    background: linear-gradient(180deg, #ffffff 0%, #fff0e5 40%, #ffeafa 100%);
    background-attachment: fixed;
  }
}

 /* -------------------- LOADING ANIMATIONS -------------- */
.primary-action, .secondary-action, .third-action {
  opacity: 0;
  transform: translateY(20px);   
  animation: fadeUp 0.4s ease forwards;
}

.primary-action { animation-delay: 0.3s; }
.secondary-action { animation-delay: 0.38s; }
.third-action { animation-delay: 0.46s; }


@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.primary-action:hover {
  background-position: right center ;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.stat-card:nth-child(1) { animation-delay: 0.1s; }
.stat-card:nth-child(2) { animation-delay: 0.2s; }
.stat-card:nth-child(3) { animation-delay: 0.3s; }
.stat-card:nth-child(4) { animation-delay: 0.4s; }
.stat-card:nth-child(5) { animation-delay: 0.5s; }

@keyframes cardFade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.soon-card:nth-child(1) { animation-delay: 0.05s; }
.soon-card:nth-child(2) { animation-delay: 0.12s; }
.soon-card:nth-child(3) { animation-delay: 0.19s; }
.soon-card:nth-child(4) { animation-delay: 0.26s; }

@keyframes cardFade {
  to {
    opacity: 1;
  }
}


.about-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Big subtle background ApplyO */
.about-bg-logo {
  position: absolute;     
  top: 50px;
  margin-left: 200px;   

  font-size: 200px;
  font-weight: 900;
  letter-spacing: 0.05em;

  color: rgba(15, 119, 183, 0.2);
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

@media (max-width: 768px) {
  .about-bg-logo {
    margin-right: 20px;
    top: 30px;
    right: -20px;
    font-size: 100px;
  }
}

/* Ensure content stays above */
.about-container > section {
  position: relative;
  z-index: 1;
}

.stardos-stencil-bold {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 700;
  font-style: normal;
}

.cards-grid > * {
  opacity: 0;
  transform: translateY(30px);
  animation: cardUp 0.45s ease forwards;
}

.cards-grid > *:nth-child(1) { animation-delay: 0.05s; }
.cards-grid > *:nth-child(2) { animation-delay: 0.1s; }
.cards-grid > *:nth-child(3) { animation-delay: 0.15s; }
.cards-grid > *:nth-child(4) { animation-delay: 0.2s; }
.cards-grid > *:nth-child(5) { animation-delay: 0.25s; }
.cards-grid > *:nth-child(6) { animation-delay: 0.3s; }


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes cardUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-footer {
  margin-top: 50px;
  padding: 20px 0 12px;

  text-align: center;
  font-size: 16px;
  letter-spacing: 0.08em;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.7);
}

.home-footer :first-child {font-weight: 600;}

@media (max-width: 768px) { 
  .app-name {font-size: 20px;}
  .home-insights {
    margin-top: -50px;
    gap: 20px
  }
}

/* mobile only */

.back-to-top {
  display: flex;
  align-items: center; 
  gap: 6px;
  /* position: fixed; */
  padding: 0 14px;
  height: 44px;

  border-radius: 999px;
  border: none;

  background-color: #028b34;
  color: white;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.04em;

  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);

  z-index: 1000;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.stt-container {
  left: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;

  z-index: 1000;
}

@media (max-width:768px) {
  h2 {font-size: 25px;}
  .app-container {padding: 20px;}
  
  .cards-grid {grid-template-columns: 1fr;}
  
  .empty-state {font-size: 18px;}
  
  .search-pill {width: 155px;}
  
  
  h1 {font-size: 30px;}
  
  .primary-action, .secondary-action, .third-action {
    width: 100%;
    border-radius: 20px;
  }
  .home-topbar {transform: translateY(30px);}
}

.scroll-hint {
  position: absolute;
  top: 68px;                 
  right: 30px;

  padding: 6px 12px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;

  background: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.65);

  pointer-events: none;     
  z-index: 90;

  animation: hintFadeIn 0.4s ease;
}

@keyframes hintFadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.actions-below {
  display: flex;
  justify-content: center; /* Horizontal center */

  padding: 20px 12px;
  border-radius: 10px;
  margin-top: 80px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 50%, transparent);
  color: rgba(0, 0, 0, 0.65);
  z-index: 90;
}
@media (min-width: 769px) {
  .scroll-hint, .actions-below, .mobile-only-scroll { display: none; }
}

/* @media (hover: none) and (pointer: coarse) {
  .about-section {
    transform: none !important;
    background: transparent !important;
  }
} */
